:root {
    --white: #ffffff;
    --gray:  #3e4444;
    --lightgreen: #82b74b;
    --darkgreen: #405d27;
    --brown: #c1946a;
    --darkbrown: #63554c;

}

html {
    scroll-behavior: smooth;
}

.brown-font{
    color: var(--brown) !important;
}

.gray-bg{
    background: var(--gray);
}

.gray{
    background: var(--gray) !important;
    color: var(--white) !important;
}

.link{
    color: var(--brown) !important;
}

.link:hover{
    opacity: .8;
}

.btn-color{
    background: var(--brown);
    color: var(--white);
}

.btn-color:hover{
    color: var(--gray);
    opacity: .8 !important;
}

.carousel-item img {
    /*max-height: 800px;*/
    max-height: 95vh;
    object-fit: cover;
}

.card img{
    height: 250px;
    object-fit: cover;
}

.card-color{
    background: var(--brown);
    color: var(--white);
}

/*body{*/
/*    background: var(--gray);*/
/*}*/

.footer{
    background: var(--gray);
    color: var(--white);
}


.text-box{
    font-size: 16px;
    background-color: var(--brown);
    color: white;
    position: absolute;
    bottom: 0px;
    right: 50px;
    padding: 40px;
    border-radius: 3px;
    width: 50%;
    box-sizing: border-box;
}
