:root {
    --white: #ffffff;
    --gray:  #3e4444;
    --lightgreen: #82b74b;
    --darkgreen: #405d27;
    --brown: #c1946a;
    --darkbrown: #63554c;

}

.gray{
    background: var(--gray) !important;
    color: var(--white) !important;
}

.btn-color{
    background: var(--brown);
    color: var(--white);
}

.btn-color:hover{
    color: var(--gray);
    opacity: .8 !important;
}

.carousel-item img {
    /*max-height: 800px;*/
    max-height: 95vh;
    object-fit: cover;
}

.card img{
    height: 250px;
    object-fit: cover;
}

.card-color{
    background: var(--brown);
    color: var(--white);
}

body{
    background: var(--gray);
}

.footer{
    background: var(--white);
    color: var(--darkgreen);
}

