:root {
    --white: #ffffff;
    --gray: #3e4444;
    --lightgreen: #82b74b;
    --darkgreen: #405d27;
    --brown: #c1946a;
    --darkbrown: #63554c;
    --blue: #003349;
    --offwhite: #e8e8e8;
    --lightbrown: #d7aa80;

}


html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.card-font{
    color: var(--blue) imp !important;
}

.top-header{
    color: var(--blue) !important;
}

.brown{
    border-color: var(--brown) !important;
    color: var(--brown) !important;
}

.logo-font{
    color: var(--brown) !important;
}

.gray-bg{
    background: var(--offwhite);
}

.gray{
    background: var(--blue) !important;
    color: var(--white) !important;
}

.link{
    color: var(--brown) !important;
}

.btn-link{
    color: white !important;
}

.link:hover{
    color: var(--lightbrown) !important;;
}

.btn-color{
    background: var(--brown);
    color: var(--white);
}

.btn-color:hover{
    background: var(--lightbrown);
}

.carousel-item img {
    /*max-height: 800px;*/
    max-height: 95vh;
    object-fit: cover;
}

.card img{
    height: 250px;
    object-fit: cover;
}

.card-color{
    background: var(--brown);
    color: var(--white);
}

/*body{*/
/*    background: var(--gray);*/
/*}*/

.footer{
    background: var(--blue);
    color: var(--white);
}

.neu{
    align-items: center;
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    /*display: flex;*/
    /*height: 200px;*/
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    justify-content: center;
    /*width: 200px;*/
}



.text-box{
    font-size: 16px;
    background-color: var(--brown);
    color: white;
    position: relative;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 992px) {
    .text-box{
        font-size: 16px;
        background-color: var(--brown);
        color: white;
        position: absolute;
        bottom: 0px;
        right: 50px;
        padding: 40px;
        border-radius: 3px;
        width: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 992px){
    #inquiry{
        padding-top: 50px;
    }
}